@import '../styles/variables/var.scss';


[data-theme="light"] {
  --color-text: #{$dark-ui-color1};
  --color-background: #{$LavenderBlush};
}

[data-theme="dark"] {
  --color-text: #{$AliceBlue};
  --color-background: #{$dark-ui-color1};
}


* {
  transition: all 0.1s ease-in-out;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}
