html {
  scrollbar-width: none; /* Для Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Opera */
}

.device{
    animation: smoothness 4s infinite;
}

@keyframes smoothness {
    from {
      animation-timing-function: ease-in;
      transform: translateY(0%);
    }
    50%{
        animation-timing-function: ease-in;
        transform: translateY(-5%)
    }
    to {
      animation-timing-function: ease-in;
      transform: translateY(0%);
    }
}