@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.device{
    animation: smoothness 4s infinite;
}

@keyframes smoothness {
    from {
      animation-timing-function: ease-in;
      transform: translateY(0%);
    }
    50%{
        animation-timing-function: ease-in;
        transform: translateY(-5%)
    }
    to {
      animation-timing-function: ease-in;
      transform: translateY(0%);
    }
}

.burger-hidden{
  display: none;
}

.burger-visible{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 9999;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.5);
  @apply gap-y-10;
}

.burger-visible .burger-ul{
  @apply gap-y-5;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.burger-visible .burger-image_logo{
  @apply w-[21rem] h-[5rem] mt-44;
}