@import "../../styles/mixins/mixins.scss";

header{
    height: 60px;
    margin: 0 0 20px 0;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 16px -3px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 3px 16px -3px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 3px 16px -3px rgba(0, 0, 0, 0.17);
    .lenta{
        @include flexbox_header_elements(20%, space-around);
        li{
            list-style-type: none;
            .link{
                &:hover{
                    text-decoration: underline;
                }
            }
        }   
    }

    .Auth{
        @include flexbox_header_elements(initial,space-around, center);
        li{
            display: flex;
            height: 100%;
            list-style-type: none;
            margin-right: 0.75rem;
            align-items: center;
            .icon{
                width: 1.2em;
                height: 1.2em;
                margin-right: 5px;
            }
            .link{
                &:hover{
                    text-decoration: underline;
                }
            }
        }

    }
}