// Красные тона
$IndianRed: #CD5C5C;
$LightCoral: #F08080;
$Salmon: #FA8072;
$DarkSalmon: #E9967A;
$LightSalmon: #FFA07A;
$Crimson: #DC143C;
$Red: #FF0000;
$FireBrick: #B22222;
$DarkRed: #8B0000;

// Розовые тона
$Pink: #FFC0CB;
$LightPink: #FFB6C1;
$HotPink: #FF69B4;
$DeepPink: #FF1493;
$MediumVioletRed: #C71585;
$PaleVioletRed: #DB7093;

// Оранжевые тона
$LightSalmon2: #FFA07A;
$Coral: #FF7F50;
$Tomato: #FF6347;
$OrangeRed: #FF4500;
$DarkOrange: #FF8C00;
$Orange: #FFA500;

// Жёлтые тона
$Gold: #FFD700;
$Yellow: #FFFF00;
$LightYellow: #FFFFE0;
$LemonChiffon: #FFFACD;
$LightGoldenrodYellow: #FAFAD2;
$PapayaWhip: #FFEFD5;
$Moccasin: #FFE4B5;
$PeachPuff: #FFDAB9;
$PaleGoldenrod: #EEE8AA;
$Khaki: #F0E68C;
$DarkKhaki: #BDB76B;

// Фиолетовые тона
$Lavender: #E6E6FA;
$Thistle: #D8BFD8;
$Plum: #DDA0DD;
$Violet: #EE82EE;
$Orchid: #DA70D6;
$Fuchsia2: #FF00FF;
$Magenta2: #FF00FF;
$MediumOrchid: #BA55D3;
$MediumPurple: #9370DB;
$BlueViolet: #8A2BE2;
$DarkViolet: #9400D3;
$DarkOrchid: #9932CC;
$DarkMagenta: #8B008B;
$Purple: #800080;
$Indigo: #4B0082;
$SlateBlue: #6A5ACD;
$DarkSlateBlue: #483D8B;

// Коричневые тона
$Cornsilk: #FFF8DC;
$BlanchedAlmond: #FFEBCD;
$Bisque: #FFE4C4;
$NavajoWhite: #FFDEAD;
$Wheat: #F5DEB3;
$BurlyWood: #DEB887;
$Tan: #D2B48C;
$RosyBrown: #BC8F8F;
$SandyBrown: #F4A460;
$Goldenrod: #DAA520;
$DarkGoldenRod: #B8860B;
$Peru: #CD853F;
$Chocolate: #D2691E;
$SaddleBrown: #8B4513;
$Sienna: #A0522D;
$Brown: #A52A2A;
$Maroon2: #800000;

// Основные цвета
$Black: #000000;
$Gray: #808080;
$Silver: #C0C0C0;
$White: #FFFFFF;
$Fuchsia3: #FF00FF;
$Purple2: #800080;
$Red2: #FF0000;
$Maroon3: #800000;
$Yellow2: #FFFF00;
$Olive: #808000;
$Lime: #00FF00;
$Green: #008000;
$Aqua: #00FFFF;
$Teal: #008080;
$Blue: #0000FF;
$Navy: #000080;
$GreenYellow: #ADFF2F;
$Chartreuse: #7FFF00;
$LawnGreen: #7CFC00;
$Lime2: #00FF00;
$LimeGreen: #32CD32;
$PaleGreen: #98FB98;
$LightGreen: #90EE90;
$MediumSpringGreen: #00FA9A;
$SpringGreen: #00FF7F;
$MediumSeaGreen: #3CB371;
$SeaGreen: #2E8B57;
$ForestGreen: #228B22;
$Green2: #008000;
$DarkGreen: #006400;
$YellowGreen: #9ACD32;
$OliveDrab: #6B8E23;
$Olive2: #808000;
$DarkOliveGreen: #556B2F;
$MediumAquamarine: #66CDAA;
$DarkSeaGreen: #8FBC8F;
$LightSeaGreen: #20B2AA;
$DarkCyan: #008B8B;
$Teal2: #008080;
$Aqua2: #00FFFF;
$Cyan: #00FFFF;
$LightCyan: #E0FFFF;
$PaleTurquoise: #AFEEEE;
$Aquamarine2: #7FFFD4;
$Turquoise: #40E0D0;
$MediumTurquoise: #48D1CC;
$DarkTurquoise: #00CED1;
$CadetBlue: #5F9EA0;
$SteelBlue: #4682B4;
$LightSteelBlue: #B0C4DE;
$PowderBlue: #B0E0E6;
$LightBlue: #ADD8E6;
$SkyBlue: #87CEEB;
$LightSkyBlue: #87CEFA;
$DeepSkyBlue: #00BFFF;
$DodgerBlue: #1E90FF;
$CornflowerBlue: #6495ED;
$MediumSlateBlue: #7B68EE;
$RoyalBlue: #4169E1;
$Blue3: #0000FF;
$MediumBlue: #0000CD;
$DarkBlue: #00008B;
$Navy2: #000080;
$MidnightBlue: #191970;
$White2: #FFFFFF;
$Snow: #FFFAFA;
$Honeydew: #F0FFF0;
$MintCream: #F5FFFA;
$Azure: #F0FFFF;
$AliceBlue: #F0F8FF;
$GhostWhite: #F8F8FF;
$WhiteSmoke: #F5F5F5;
$Seashell: #FFF5EE;
$Beige: #F5F5DC;
$OldLace: #FDF5E6;
$FloralWhite: #FFFAF0;
$Ivory: #FFFFF0;
$AntiqueWhite: #FAEBD7;
$Linen: #FAF0E6;
$LavenderBlush: #FFF;

// Темные UI
$dark-ui-color1: #000218;
$dark-ui-color2: #060A30;
$dark-ui-color3: #353358;
$dark-ui-color4: #595B82;
$dark-ui-color5: #F4ACC4;
$dark-ui-color6: #0A1F32;
$dark-ui-color7: #2D384A;
$dark-ui-color8: #344756;
$dark-ui-color9: #D2D2D2;
$dark-ui-color10: #FF4C2B;
$dark-ui-color11: #171717;
$dark-ui-color12: #444444;
$dark-ui-color13: #E5E5E5;
$dark-ui-color14: #E3A3B4;
$dark-ui-color15: #DA0038;
$dark-ui-color16: #06090E;
$dark-ui-color17: #152A3D;
$dark-ui-color18: #294F74;
$dark-ui-color19: #3A668B;
$dark-ui-color20: #437FB1;
$dark-ui-color21: #080C25;
$dark-ui-color22: #161E35;
$dark-ui-color23: #293659;
$dark-ui-color24: #3071E7;
$dark-ui-color25: #A6B2EC;
$dark-ui-color26: #430047;
$dark-ui-color27: #020F43;
$dark-ui-color28: #043F5D;
$dark-ui-color29: #15497E;
$dark-ui-color30: #FFD600;
$dark-ui-color31: #080B26;
$dark-ui-color32: #1E2786;
$dark-ui-color33: #524F9D;
$dark-ui-color34: #8A5286;
$dark-ui-color35: #C6515C;
$dark-ui-color36: #000000;
$dark-ui-color37: #0B0718;
$dark-ui-color38: #160150;
$dark-ui-color39: #400072;
$dark-ui-color40: #600095;

