.svg{
    position: absolute;
    z-index: -1;
}


.circle_svg{
    top: 70%;
    left: 56%;
}

.circle2{
    top: -33%;
    left: 29%;
}

.circle3{
    top: 70%;
    left: 20%;
}


.circle4{
    top: 10%;
    left: 80%;
}

